.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 5px;
    cursor: pointer;
}
  
.dot.active {
    width:15px;
    height:15px;
    background-color: #ccc;
}

.button {
    outline: none; 
    color:dimgray;
  }
  
.button:hover {
    color:#ccc;
}